[SddmGreeterTheme]
Name=Fractal
Description=Fractal SDDM theme
Author=Spoon
Version=1.3
MainSript=Main.qml
Type=sddm-theme
Theme-Id=fractal
Theme-API=2.0
